<div data-controller="flash">
    <div class="flash_message">
        <div class="notification">
            <% flash.each do |key, value| %>
                <%= content_tag :div, value, class: "#{key}" %>
            <% end %>
        </div>
    </div>
</div>
