.res_show {
    display: flex;
    text-align: center;
}

.book_image {
    margin: 30px;
    height: 60%;
}

.book_title {
    font-size: 60px;
    margin: 30px 50px 15px 50px;
    text-align: left;
}

.book_author {
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 40px;
    text-align: left;
}

.status_size {
    display: inline-block;
    font-size: 15px;
    color: palevioletred;
    padding: 10px;
    border: solid 1px palevioletred;
    border-radius: 3px;
    margin: 20px 30px;
    margin-left: 50px;
    width: 110px;
}

.res_can_button {
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 20px;
    letter-spacing: 3px;
}

.show_res_period {
    font-size: 20px;
    margin-left: 50px;
    text-align: left;
}

.show_res_period_text {
    margin: 10px 50px;
    margin-top: 30px;
    text-align: left;
}

.index_res_period {
    margin-left: 27px;
}

.return_alert {
    margin-left: 50px;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: palevioletred;
}
